{% extends 'index.html' %}
{% block content %}

<div class="container " style="text-align: center;">
    <h1>Motoros időmérő - LHFH</h1>
    <h2>1.0</h2>
    <h3>Török Bence István</h3>
    github : <a href="https://github.com/torokbi/aircraft-takeoff-time-logger" target="_blank">https://github.com/torokbi/aircraft-takeoff-time-logger</a>
    <table align="center" border="1">
        <tr>
            <td>
                Python verizó: 
            </td>
            <td>
                3.11
            </td>
        </tr>
        <tr>
            <td>
                Flask verizó:
            </td>
            <td>
                3.0
            </td>
        </tr>
    </table>
</div>

{% endblock content %}