{% extends "base.html"%}

{% block content %}
<script>
  window.setInterval('refresh()', 10000); 	
  function refresh() {
      window .location.reload();
  }
</script>
<div class="container">
  <h1>Naplózás</h1>
<div class="alert alert-primary" role="alert">
  Figyelem! A rendszer <b>45 perces</b> időközzel dolgozik!
</div>

<!--Place of error message-->
{% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
{% endif %}

<!--Place of warning message-->
{% if warning %}
  <div class="alert alert-warning" role="alert">
    {{ warning }}
  </div>
{% endif %}

<!--Table with datas of planes-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Lajstrom</th>
      <th scope="col">Utolsó felszállás ideje</th>
      <th scope="col">Következő felszállásig hátralévő idő</th>
      <th scope="col">Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <!--New plane registration form-->
  <form method="post">
    {% csrf_token %}
    <tr>
      <td><input type="text" class="form-control" id="registration" name = "registration" placeholder="Lajstrom" required></td>
      <td>-</td>
      <td>-</td>
      <td>
          <button class="btn btn-primary" type="submit">Felszállás</button>
      </td>
    </tr>
  </form>
  {% for plane in planes %}
      <!--Planes where plane.beforenext_takeoff > 0 -->
      {% if plane.beforenext_takeoff > 0 %} 
      <tr class="table-warning">
        <td>{{ plane.registration }}</td>
        <td>{{ plane.takeofftime }}</td>
        <td>{{ plane.beforenext_takeoff }} perc</td>
        <td>
            <div class="d-grid gap-2 d-md-block">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#retakeoff{{ plane.registration }}">
                Felszállás
              </button>
              <a class="btn btn-warning" href={% url 'delete_one_plane' plane.id %}  role="button">Törlés</a>
            </div>
        </td>
      </tr>
      <!--Planes where plane.beforenext_takeoff == 0 -->
      {% else %}
      <tr class="table-success">
        <td>{{ plane.registration }}</td>
        <td>{{ plane.takeofftime }}</td>
        <td>{{ plane.beforenext_takeoff }} perc</td>
        <td>
            <div class="d-grid gap-2 d-md-block">
              <button class="btn btn-primary" type="button">Felszállás</button>
              <button class="btn btn-warning" type="button">Törlés</button>
            </div>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table> 

  <!--Warning windows of planes with before takeoff time-->
  {% for plane in planes %}
    {% if plane.beforenext_takeoff > 0 %} 
    <div class="modal fade" id="retakeoff{{ plane.registration }}" tabindex="-1" aria-labelledby="retakeoff{{ plane.registration }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ plane.registration }} újrafelszállás</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ plane.registration }} gépnek még <b>{{ plane.beforenext_takeoff }} perc</b> van hátra addig amíg újra felszállhat. Ennek ellenére biztos fel szeretnéd szállítani?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
            <a class="btn btn-primary" href={% url 'retakeoff' plane.id %} role="button">Felszállítom</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <!--close day button-->
  <div class="alert alert-secondary" role="alert">
    <div class="row align-items-start">
      <div class="col">
        Az üzem vége gomb használatával <b>az összes</b> felvitt repülőgép törlésre kerül és a tárolt adatok elvesznek. Biztos le szeretnéd zárni ezt az üzemnapot?
      </div>
      <div class="col float-right">
         <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#closeday">
          Üzem vége
        </button>
      </div>
      
      <!--Warning windows of day close button-->
      <div class="modal fade" id="closeday" tabindex="-1" aria-labelledby="closeday" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="closeday">Üzem vége</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Biztos szeretnéd lezárni az üzemet és kitörölni az összes eddig felvitt felszállást?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Nem</button>
              <a class="btn btn-danger" href={% url 'delete_all_data' %} role="button" stlye="text-align: center,">Igen</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}